pandas==1.4.2
pandas_stubs==1.2.0.58
streamlit==1.10.0
-f https://download.pytorch.org/whl/cpu/torch_stable.html
-f https://data.pyg.org/whl/torch-1.7.1+cpu.html
torch==1.7.1+cpu
torch-scatter==2.0.7
torch-sparse==0.6.9
torch-geometric
torchvision==0.8.2
transformers==4.19.4
